build==1.6.1
calver==2025.10.20
coherent-licensed==0.5.2
cython==3.3.0
flit-core==3.12.0
flit-core==4.0.2
hatch-fancy-pypi-readme==25.1.0
hatch-vcs==0.5.0
hatchling==1.30.1
hatchling==1.32.0
maturin==1.15.0
packaging==26.2
packaging==26.3
pathspec==1.1.1
pbr==7.0.3
pluggy==1.6.0
poetry-core==2.4.1
pyproject-hooks==1.2.0
semantic-version==2.10.0
setuptools-rust==1.13.0
setuptools-scm==10.3.2
setuptools-scm==7.1.0
tomlkit==0.15.1
trove-classifiers==2026.6.1.19
typing-extensions==4.16.0
vcs-versioning==2.4.0
wheel==0.47.0

# The following packages are considered to be unsafe in a requirements file:
setuptools==83.0.0
setuptools==84.0.0
