alembic==1.19.1
amqp==5.3.1
attrs==26.1.0
automaton==3.5.0
autopage==0.6.0
bcrypt==5.0.0
blinker==1.9.0
cachetools==7.1.7
castellan==5.8.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.0
click==8.4.2
cliff==4.16.0
cmd2==4.2.0
cotyledon==2.2.0
debtcollector==3.1.0
decorator==5.3.1
distro==1.9.0
dnspython==2.8.0
dogpile-cache==1.5.0
eventlet==0.41.2
fasteners==0.20
fixtures==4.3.2
flask==3.1.3
futurist==3.5.0
greenlet==3.5.5
gunicorn==26.0.0
idna==3.18
importlib-metadata==9.0.0
invoke==3.0.3
iso8601==2.1.0
itsdangerous==2.2.0
jinja2==3.1.6
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keystoneauth1==5.17.0
keystonemiddleware==13.0.1
kombu==5.6.2
lxml==6.1.1
mako==1.4.1
markdown-it-py==4.2.0
markupsafe==3.0.3
mdurl==0.1.2
msgpack==1.2.1
ncclient==0.7.1
netaddr==1.3.0
networkx==3.6.1
neutron-lib==5.0.1
octavia-lib==3.12.0
openstacksdk==4.20.0
os-ken==4.2.2
os-service-types==1.9.0
os-traits==3.9.0
oslo-cache==4.3.0
oslo-concurrency==7.6.1
oslo-config==10.7.0
oslo-context==6.5.0
oslo-db==18.1.1
oslo-i18n==6.9.0
oslo-log==8.3.1
oslo-messaging==18.3.0
oslo-metrics==0.17.0
oslo-middleware==8.2.0
oslo-policy==6.0.1
oslo-reports==3.9.0
oslo-serialization==5.11.0
oslo-service==4.8.0
oslo-upgradecheck==2.8.0
oslo-utils==10.2.0
oslo-versionedobjects==3.12.0
osprofiler==4.4.0
ovs==3.7.1
ovsdbapp==2.19.0
packaging==26.3
paramiko==4.0.0
paste==3.10.1
pastedeploy==3.1.0
pbr==7.0.3
pecan==1.8.0
platformdirs==4.11.3
prettytable==3.18.0
prometheus-client==0.26.0
prompt-toolkit==3.0.53
psutil==7.2.2
pyasn1==0.6.4
pyasn1-modules==0.4.2
pycadf==4.1.0
pycparser==3.0
pydot==4.0.1
pygments==2.20.0
pyjwt==2.13.0
pymysql==1.2.0
pynacl==1.6.2
pyopenssl==24.2.1
pyparsing==3.3.2
pyperclip==1.11.0
pyroute2==0.8.1 ; sys_platform != "win32"
python-barbicanclient==7.6.0
python-cinderclient==9.10.0
python-dateutil==2.9.0.post0
python-glanceclient==4.13.0
python-keystoneclient==6.0.0
python-novaclient==18.13.1
pyyaml==6.0.3
redis==8.1.0
referencing==0.37.0
repoze-lru==0.8
requests==2.34.2
rfc3986==2.0.0
rich==15.0.0
rich-argparse==1.8.0
routes==2.5.1
rpds-py==2026.6.3
setproctitle==1.3.7
simplegeneric==0.8.1
six==1.17.0
sortedcontainers==2.4.0
sqlalchemy==2.0.52
sqlalchemy-utils==0.42.1
statsd==4.0.1
stevedore==5.9.1
taskflow==6.4.0
tenacity==9.1.4
testresources==2.1.2
testscenarios==0.6.2
typing-extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
vine==5.1.0
warlock==2.1.0
wcwidth==0.8.2
webob==1.8.11
werkzeug==3.1.8
wrapt==2.3.0
wsme==0.13.0
yappi==1.7.6
zipp==4.1.0

# The following packages are considered to be unsafe in a requirements file:
