asgiref==3.12.1
attrs==26.1.0
autopage==0.6.0
babel==2.18.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.0
cliff==4.16.0
cmd2==4.2.0
debtcollector==3.1.0
decorator==5.3.1
django==5.2.17
django-appconf==1.2.0
django-compressor==4.6.0
django-debreach==2.1.0
dogpile-cache==1.5.0
fasteners==0.20
futurist==3.5.0
horizon==26.0.0
idna==3.18
iso8601==2.1.0
jmespath==1.1.0
jsonpatch==1.33
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keystoneauth1==5.17.0
libsass==0.23.0
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.2.1
netaddr==1.3.0
openstacksdk==4.20.0
os-service-types==1.9.0
osc-lib==4.7.0
oslo-concurrency==7.6.1
oslo-config==10.7.0
oslo-context==6.5.0
oslo-i18n==6.9.0
oslo-log==8.3.1
oslo-policy==6.0.1
oslo-serialization==5.11.0
oslo-upgradecheck==2.8.0
oslo-utils==10.2.0
osprofiler==4.4.0
packaging==26.3
pbr==7.0.3
pillow==12.3.0
platformdirs==4.11.3
ply==3.11
prettytable==3.18.0
prompt-toolkit==3.0.53
psutil==7.2.2
pycparser==3.0
pygments==2.20.0
pymemcache==4.0.0
pymysql==1.2.0
pyopenssl==24.2.1
pyparsing==3.3.2
pyperclip==1.11.0
python-cinderclient==9.10.0
python-cloudkittyclient==6.2.0
python-dateutil==2.9.0.post0
python-glanceclient==4.13.0
python-heatclient==5.3.0
python-ironicclient==6.3.0
python-keystoneclient==6.0.0
python-manilaclient==6.3.0
python-novaclient==18.13.1
python-swiftclient==4.11.0
python-watcherclient==4.11.0
pyyaml==6.0.3
qrcode==8.2
rcssmin==1.2.2
referencing==0.37.0
requests==2.34.2
rfc3986==2.0.0
rich==15.0.0
rich-argparse==1.8.0
rjsmin==1.2.5
rpds-py==2026.6.3
semantic-version==2.10.0
six==1.17.0
sqlparse==0.6.0
stevedore==5.9.1
typing-extensions==4.16.0
urllib3==2.7.0
warlock==2.1.0
wcwidth==0.8.2
webob==1.8.11
wrapt==2.3.0
xstatic==1.0.3
xstatic-angular==1.8.2.3
xstatic-angular-bootstrap==2.5.0.1
xstatic-angular-fileupload==12.2.13.2
xstatic-angular-gettext==2.4.1.1
xstatic-angular-lrdragndrop==1.0.2.7
xstatic-angular-schema-form==0.8.13.1
xstatic-angular-uuid==0.0.4.1
xstatic-angular-vis==4.16.0.1
xstatic-bootstrap-datepicker==1.4.0.1
xstatic-bootstrap-scss==3.4.1.1
xstatic-bootswatch==3.3.7.1
xstatic-d3==3.5.17.1
xstatic-filesaver==1.3.2.1
xstatic-font-awesome==6.2.1.2
xstatic-hogan==2.0.0.5
xstatic-jasmine==2.4.1.3
xstatic-jquery==3.7.1.1
xstatic-jquery-migrate==3.3.2.2
xstatic-jquery-quicksearch==2.0.3.3
xstatic-jquery-tablesorter==2.14.5.3
xstatic-jquery-ui==1.13.0.2
xstatic-js-yaml==3.13.1.2
xstatic-jsencrypt==2.3.1.2
xstatic-json2yaml==0.1.1.1
xstatic-mdi==1.6.50.3
xstatic-objectpath==1.2.1.1
xstatic-rickshaw==1.5.1.3
xstatic-roboto-fontface==0.8.0.1
xstatic-smart-table==1.4.13.3
xstatic-spin==1.2.5.3
xstatic-term-js==0.0.7.1
xstatic-tv4==1.2.7.1

# The following packages are considered to be unsafe in a requirements file:
